@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  /* padding-top: 66px; */
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

/* .error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
} */

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* Hero (Background of banner) */
.defaultHero,
.roomsHero {
  min-height: calc(70vh - 50px);
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url("../images/defaultImg.png");
  min-height: 60vh;
}

@media (max-width: 700px) {
  .defaultHero {
    padding: 2rem;
    min-height: calc(40vh - 50px);
  }
}
/* End of Hero (Background of banner) */

/* Logo home */
.container-logo{
  display: flex;
  border: #222 solid 5px;
  /* padding: 20px 100px 20px 100px; */
  border-radius: 13px;
  font-size: 100px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.left-logo {
  background-color: #222;
  border-radius: 13px 0 0 13px;
  color:white;
  margin: 10px 0 10px 10px;
  width: 45%;
  text-align: right;
}

.right-logo {
  background-color: white;
  border-radius: 0 13px 13px 0;
  color:#222;
  font-weight: bold;
  margin: 10px 10px 10px 0;
  width: 55%;
}

@media (max-width: 1050px) {
  .container-logo{
    font-size: 80px;
  }
}

@media (max-width: 850px) {
  .container-logo{
    font-size: 60px;
  }
}

@media (max-width: 680px) {
  .container-logo{
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .container-logo{
    width: 90%;
    height: 100px;
    font-size: 50px;
  }
  
  .left-logo {
    height: 85%;
  }

  .right-logo {
    height: 85%;
  }
}

/* End of logo home */

/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border-radius: 13px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

@media screen and (min-width: 300px) {
  .banner {
    margin-top: 3rem;
    padding: 0.2rem 2rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

/* end of Title */

/* Top 5 */
.service {
  padding: 10px;
}

.services {
  background: #222;
  text-align: center;
  padding: 2rem 0;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 20px;
  color: white;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: var(--mainSpacing);
}

.services p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  /* .services-center {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .service {
    width: 170px;
  } */
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

/*end of Top 5 */

/* About Us */
.aboutus {
  background: white;
  text-align: center;
  padding-top: 30px;
  /* padding: 2rem 0; */
}

.aboutus-images {
  margin-top: -20px;
  margin-left: 40px;
}

/* End of About Us */

