.css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    background: #ff416c !important;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background: linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background-repeat: no-repeat!important;
    /* background-color: red !important; */
    color: #f4f4f4;
}

.css-u0soqy-MuiPickerStaticWrapper-root {
    box-shadow: 3px 2px 10px 5px #888888 !important;
}

.css-hlj6pa-MuiDialogActions-root {
    display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root .MuiPickersToolbar-penIconButton {
    display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    padding: 0 !important;
}

.css-hq2kpw-MuiGrid-root-MuiPickersToolbar-content {
    justify-content: center !important;
    background-color: orange;
    padding: 1rem;
}

.css-1hbyad5-MuiTypography-root {
    display: none !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background: #ff416c !important;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background: linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background-repeat: no-repeat!important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background: #ff416c !important;
    background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background: linear-gradient(to right, #ff4b2b, #ff416c)!important;
    background-repeat: no-repeat!important;
    color: black !important;
}

.css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: transparent !important;
    color: red;
}

.css-144dnr3-MuiBadge-badge {
    color: green;
}

.css-1n2mv2k {
    background-color: #f4f4f4;
    margin-bottom: 1rem;
}

.header-appointment {
    margin-top: -5px;
}

.admin-container{
    display: flex;
    margin: auto;
}

.btn-admin {
    margin-right: 10px;
}