.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.0rem;
    padding: 0 30px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 55px;
    border-radius: 13px;
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

@media (max-width: 390px) {
    .nav-links {
        background-color: #222;
        border-radius: 13px;
        padding: 10px;
        display: flex;
    }
}

.logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    font-size: 25px;
}

.fa-briefcase {
    margin-left: 0.7rem;
    font-size: 1.3rem;
    color: white;
}

.fa-user {
    color: white;
    margin-top: 12px;
}

#collasible-nav-dropdown {
    padding-right: 50px;
}

.QuichAppointment {
    margin-right: 20px;
    background-color: #ff416c;
    border-radius: 5px;
    color: #222;
}