.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    width: 400px;
    text-align: center;
}

.toast-box{
    height: 100px;
    width: 500px;
}

.me-auto {
    font-size: 20px;
}

.stars {
    font-size: 20px;
}