/* SearchBox */
.input-container {
  width: 60%;
  height: 50px;
  margin: auto;
  border: 2px solid #222;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 30px;
}

.input-container:focus-within {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.search-input {
  border-radius: 50px;
  background-color: #fff;
  padding: 1em;
  width: 95%;
  border: none;
}

.search-input:focus {
  outline: none !important;
}

.search-btn {
  padding: 12px;
  border-radius: 50%;
  width: 5%;
} 

/* End of searchbox */

.predictBigml {
  margin-top: 10px;
  text-align: center;
  margin-bottom: -30px;
}

.btnPredictBigml {
  margin: 10px;
  padding: 8px;
  background-color: #222;
  color: white;
  border-radius: 0.5em;
  border: white;
}

@media screen and (min-width: 300px) {
  .fa-magnifying-glass {
    font-size: 1.2rem;
    color: black;
    display: grid;
    place-content: center;
    margin-right: 5%;
  }
}